Source: netrunner-desktop
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-desktop
Architecture: all
Recommends: alsa-utils,
            apt-xapian-index,
            ark,
            baloo-kf5,
            base-files (>= 9),
            bluedevil,
            breeze,
            carbon-gtk2,
            carbon-qt,
            carbon-qt4,
            command-not-found,
            desktop-file-utils,
            dolphin,
            ffmpegthumbnailer,
            firefox-plasma,
            firmware-linux-nonfree,
            flashplugin-nonfree,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gtk2-engines-oxygen,
            gtk2-engines-qtcurve,
            gtk3-engines-oxygen,
            gwenview,
            icedtea-7-plugin,
            inxi,
            kate,
            kcm-about-extended,
            kcm-plasma-services,
            kde-cli-tools,
            kde-config-gtk-style-preview,
            kde-config-sddm,
            kde-gtk-config,
            kde-spectacle,
            kde-style-oxygen-qt4,
            kde-telepathy-contact-list,
            kdenetwork-filesharing,
            kdesudo,
            kffmpegthumbnailer,
            khelpcenter,
            khotkeys,
            kinfocenter,
            kio,
            kio-extras,
            kio-mtp,
            kmenuedit,
            konqueror,
            konsole,
            kscreen,
            ksnapshot,
            ksuperkey,
            ksysguard,
            kwin-addons,
            kwin-decoration-oxygen,
            kwin-x11,
            kwrited,
            libappindicator1,
            libappindicator3-1,
            libgtk2-appindicator-perl,
            libkf5screen-bin,
            libqt5websockets5,
            linux-firmware,
            mintupdate,
            nano,
            netrunner-artwork,
            netrunner-default-settings,
            novnc,
            okular,
            okular-extra-backends,
            p7zip-full,
            partitionmanager,
            pavucontrol,
            phonon,
            phonon-backend-gstreamer,
            phonon4qt5,
            phonon4qt5-backend-gstreamer,
            plasma-dataengines-addons,
            plasma-nm,
            plasma-runners-addons,
            plasma-volume-control,
            plasma-widget-kimpanel,
            plasma-widget-message-indicator,
            plasma-widgets-addons,
            powerdevil,
            print-manager,
            pulseaudio,
            python-appindicator,
            qapt-deb-installer,
            qtcore4-l10n,
            qtcurve-i18n,
            quota,
            rar,
            rootactions-servicemenu,
            samba-mounter,
            simplemenu,
            sni-qt,
            sni-qt:i386,
            synaptic,
            systemsettings,
            unrar,
            user-manager,
            x11vnc,
            xdg-user-dirs,
            yakuake
Depends: console-data,
         console-setup,
         kbd,
         kwin-x11,
         plasma-desktop,
         plasma-framework,
         sddm,
         simplemenu,
         xorg,
         xserver-xorg,
         xserver-xorg-video-all
Description: Meta package for the Netrunner desktop environment
   Meta package for the Netrunner desktop environment

