Source: netrunner-desktop
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-desktop
Architecture: all
Recommends: alsa-utils,
            android-sdk-platform-tools-common,
            android-tools-adb,
            android-tools-fastboot,
            appimagelauncher,
            appmenu-gtk2-module,
            appmenu-gtk3-module,
            apt-transport-https,
            apt-xapian-index,
            apturl-common,
            apturl-kde,
            ark,
            artwork-lnf-theme-netrunner-black,
            artwork-lnf-theme-netrunner-desktop,
            audacious,
            baloo-kf5,
            base-files (>= 9),
            bash-completion,
            bluedevil,
            breeze,
            browser-plugin-freshplayer-pepperflash,
            burgerspace,
            carbon-gtk2,
            carbon-qt,
            carbon-qt4,
            cheese,
            cifs-utils,
            command-not-found,
            cryptsetup,
            curl,
            default-settings-xdg-user-dirs,
            desktop-file-utils,
            dmz-cursor-theme,
            dolphin,
            exfat-fuse,
            exfat-utils,
            ffmpegthumbnailer,
            ffmpegthumbs,
            firefox,
            firmware-linux-nonfree,
            firmware-misc-nonfree,
            fonts-droid-fallback,
            fonts-noto-hinted,
            fonts-roboto,
            frei0r-plugins,
            frozen-bubble,
            gimp,
            gimp-help-common,
            git,
            glchess,
            gltron,
            gmusicbrowser,
            gnome-chess,
            gnome-extra-icons,
            gnome-icon-theme,
            gnome-icon-theme-extras,
            gnome-icon-theme-full,
            gnudoq,
            grub-customizer,
            grub-efi-amd64-bin,
            grub-pc,
            gstreamer0.10-plugins-ugly,
            gstreamer0.10-pulseaudio,
            gstreamer1.0-libav,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gtk2-engines,
            gtk2-engines-oxygen,
            gtk2-engines-qtcurve,
            gtk3-engines-oxygen,
            gtk3-engines-unico,
            gtk3-nocsd,
            gwenview,
            handbrake,
            hplip,
            hyphen-en-us,
            icedtea-8-plugin,
            imagewriter,
            inkscape,
            inxi,
            kaccounts-integration,
            kate,
            kbreakout,
            kcalc,
            kcm-about-extended,
            kcm-plasma-services,
            kde-cli-tools,
            kde-config-gtk-style,
            kde-config-gtk-style-preview,
            kde-config-plymouth,
            kde-config-sddm,
            kde-config-systemd,
            kde-gtk-config,
            kde-spectacle,
            kde-style-oxygen-qt4,
            kde-telepathy-integration-module,
            kde-telepathy-kaccounts,
            kde-telepathy-kpeople,
            kdenetwork-filesharing,
            kdenlive,
            kdepim-runtime,
            kdesudo,
            keyutils,
            khelpcenter,
            khotkeys,
            kinfocenter,
            kio,
            kio-extras,
            kio-mtp,
            kmahjongg,
            kmenuedit,
            kmines,
            konsole,
            krita,
            kross,
            kscreen,
            ksnakeduel,
            ksysguard,
            kwin-addons,
            kwin-decoration-oxygen,
            kwin-x11,
            kwrited,
            language-pack-gnome-en,
            language-pack-gnome-en-base,
            libappindicator1,
            libappindicator3-1,
            libav-tools (>= 7:3.1.3-1~),
            libgtk2-appindicator-perl,
            libkfbapi1,
            libmailtransport4,
            libqt5websockets5,
            libreoffice,
            libreoffice-calc,
            libreoffice-help-en-us,
            libreoffice-impress,
            libreoffice-kde5,
            libreoffice-style-human,
            libxcursor1:i386,
            linux-firmware,
            lsb-core,
            lvm2,
            marble,
            mintupdate,
            mozilla-kde-support,
            myspell-en-au,
            myspell-en-gb,
            myspell-en-za,
            mythes-en-us,
            nano,
            net-tools,
            netrunner-artwork,
            netrunner-default-settings,
            netrunner-desktop-settings,
            netrunner-desktop-settings-desktop,
            novnc,
            ocs-url,
            okular,
            okular-extra-backends,
            openjdk-8-jre,
            p7zip-full,
            partitionmanager,
            pavucontrol,
            pepperflashplugin-nonfree,
            phonon,
            phonon-backend-gstreamer,
            phonon4qt5,
            phonon4qt5-backend-gstreamer,
            pidgin,
            plasma-browser-integration,
            plasma-dataengines-addons,
            plasma-discover,
            plasma-nm,
            plasma-runners-addons,
            plasma-volume-control,
            plasma-widget-folderview,
            plasma-widget-kimpanel,
            plasma-widget-message-indicator,
            plasma-widgets-addons,
            plasma-widgets-volumewin7mixer,
            plymouth-theme-netrunner-classic,
            powerdevil,
            print-manager,
            psmisc,
            pulseaudio (>= 7.1~),
            pulseaudio-module-bluetooth,
            python-appindicator,
            python-qt4-dbus,
            python-xdg,
            qapt-deb-installer,
            qml-module-org-kde-games-core,
            qml-module-org-kde-kaccounts,
            qt5-style-kvantum,
            qtcore4-l10n,
            qtcurve-i18n,
            quota,
            rar,
            rootactions-servicemenu,
            samba,
            samba-mounter,
            simplemenu,
            skanlite,
            skypeforlinux,
            smbclient,
            smplayer,
            sni-qt,
            sni-qt:i386,
            software-properties-kde,
            steam:i386,
            synaptic,
            systemsettings,
            thunderbird,
            thunderbird-locale-en,
            thunderbird-locale-en-us,
            transmission-qt,
            ttf-liberation,
            ttf-mscorefonts-installer,
            ubiquity-slideshow-netrunner,
            unrar,
            user-manager,
            virtualbox-dkms,
            virtualbox-guest-dkms,
            virtualbox-guest-x11,
            virtualbox-qt,
            vokoscreen,
            wbritish,
            web-menu-entries,
            x11vnc,
            xdg-desktop-portal,
            xdg-desktop-portal-kde,
            xdg-user-dirs,
            xdgurl,
            xterm,
            xul-ext-lightning,
            yakuake,
            yarock,
            zenity
Depends: console-data,
         console-setup,
         kbd,
         kwin-x11,
         plasma-desktop,
         plasma-framework,
         sddm,
         simplemenu,
         xorg,
         xserver-xorg,
         xserver-xorg-input-evdev,
         xserver-xorg-input-joystick,
         xserver-xorg-input-kbd,
         xserver-xorg-input-mouse,
         xserver-xorg-input-synaptics,
         xserver-xorg-video-all
Breaks: kffmpegthumbnailer (<< 2.1.0+p8+git20161003.1141)
Replaces: kffmpegthumbnailer (<< 2.1.0+p8+git20161003.1141)
Description: Meta package for the Netrunner desktop environment
   Meta package for the Netrunner desktop environment
