Source: netrunner-desktop
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-desktop
Architecture: all
Recommends: alsa-utils,
            apt-xapian-index,
            apturl-common,
            apturl-kde,
            ark,
            artwork-lnf-theme-netrunner-desktop,
            audacious,
            baloo-kf5,
            base-files (>= 9),
            bluedevil,
            breeze,
            burgerspace,
            carbon-gtk2,
            carbon-qt,
            carbon-qt4,
            cifs-utils,
            command-not-found,
            desktop-file-utils,
            dmz-cursor-theme,
            dolphin,
            expanding-icons-taskmanager,
            ffmpegthumbnailer,
            firefox-locale-en,
            firefox-plasma,
            firmware-linux-nonfree,
            flashplugin-nonfree,
            fonts-droid-fallback,
            fonts-noto-hinted,
            fonts-roboto,
            frei0r-plugins,
            frozen-bubble,
            gimp,
            gimp-help-common,
            gimp-help-en,
            glchess,
            gltron,
            gnome-extra-icons,
            gnome-icon-theme,
            gnome-icon-theme-extras,
            gnome-icon-theme-full,
            gnudoq,
            grub-efi-amd64-bin,
            gstreamer1.0-libav,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gtk2-engines,
            gtk2-engines-murrine,
            gtk2-engines-oxygen,
            gtk2-engines-qtcurve,
            gtk3-engines-oxygen,
            gtk3-engines-unico,
            gwenview,
            hyphen-en-us,
            icedtea-8-plugin,
            inxi,
            karbon,
            kate,
            kbreakout,
            kcm-about-extended,
            kcm-plasma-services,
            kde-cli-tools,
            kde-config-gtk-style,
            kde-config-gtk-style-preview,
            kde-config-sddm,
            kde-config-systemd,
            kde-gtk-config,
            kde-spectacle,
            kde-style-oxygen-qt4,
            kdenetwork-filesharing,
            kdenlive,
            kdepim-runtime,
            kdesudo,
            kdiamond,
            kffmpegthumbnailer,
            khelpcenter,
            khotkeys,
            kinfocenter,
            kio,
            kio-extras,
            kio-mtp,
            kmahjongg,
            kmenuedit,
            kmines,
            konqueror,
            konsole,
            konversation,
            krita,
            kscreen,
            ksnakeduel,
            ksnapshot,
            ksuperkey,
            ksysguard,
            kwin-addons,
            kwin-decoration-oxygen,
            kwin-x11,
            kwrited,
            language-pack-gnome-en,
            language-pack-gnome-en-base,
            libappindicator1,
            libappindicator3-1,
            libav-tools,
            libgtk2-appindicator-perl,
            libkf5screen-bin,
            libkfbapi1,
            libmailtransport4,
            libqt5websockets5,
            libreoffice,
            libreoffice-calc,
            libreoffice-gtk,
            libreoffice-help-en-us,
            libreoffice-impress,
            libreoffice-style-human,
            libxcursor1:i386,
            linux-firmware,
            mintupdate,
            mozilla-kde-support,
            muon-discover,
            myspell-en-au,
            myspell-en-gb,
            myspell-en-za,
            mythes-en-us,
            nano,
            ndisgtk,
            ndiswrapper-common,
            ndiswrapper-dkms,
            ndiswrapper-utils-1.9,
            netrunner-artwork,
            netrunner-default-settings,
            netrunner-desktop-plasma5-panels,
            netrunner-desktop-settings,
            netrunner-desktop-settings-desktop,
            novnc,
            okular,
            okular-extra-backends,
            openjdk-8-jre,
            p7zip-full,
            partitionmanager,
            pavucontrol,
            phonon,
            phonon-backend-gstreamer,
            phonon4qt5,
            phonon4qt5-backend-gstreamer,
            pidgin,
            plasma-dataengines-addons,
            plasma-nm,
            plasma-runners-addons,
            plasma-volume-control,
            plasma-widget-folderview,
            plasma-widget-kimpanel,
            plasma-widget-message-indicator,
            plasma-widgets-addons,
            plymouth-theme-netrunner-classic,
            powerdevil,
            print-manager,
            pulseaudio,
            python-appindicator,
            python-qt4-dbus,
            python-xdg,
            qapt-deb-installer,
            qml-module-org-kde-games-core,
            qtcore4-l10n,
            qtcurve-i18n,
            quota,
            rar,
            rootactions-servicemenu,
            samba,
            samba-mounter,
            simplemenu,
            skype,
            smbclient,
            sni-qt,
            sni-qt:i386,
            steam,
            synaptic,
            systemsettings,
            thunderbird-locale-en,
            thunderbird-locale-en-us,
            thunderbird-plasma,
            transmission-qt,
            ttf-liberation,
            ttf-mscorefonts-installer,
            ubiquity-slideshow-netrunner,
            unrar,
            user-manager,
            virtualbox-dkms,
            virtualbox-guest-dkms,
            virtualbox-guest-x11,
            virtualbox-qt,
            vlc,
            vokoscreen,
            wbritish,
            x11vnc,
            xdg-user-dirs,
            xdgurl,
            xterm,
            yakuake
Depends: console-data,
         console-setup,
         kbd,
         kwin-x11,
         plasma-desktop,
         plasma-framework,
         sddm,
         simplemenu,
         xorg,
         xserver-xorg,
         xserver-xorg-video-all
Description: Meta package for the Netrunner desktop environment
   Meta package for the Netrunner desktop environment
